# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
conda/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Project specific
CEQUAL_model/*
!CEQUAL_model/mshade.npt
!CEQUAL_model/mwsc.npt
!CEQUAL_model/mvpr1.npt
!CEQUAL_model/mbth_wb1.npt
!CEQUAL_model/*.py
!CEQUAL_model/*.xls
!CEQUAL_model/w2_con.csv
!CEQUAL_model/w2_con.csv.backup

# Data directories
profiles/
!profiles/*.py
!profiles/profile_converter.py
