# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
conda/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Project specific
CEQUAL_outputs/
!CEQUAL_outputs/*.py
Calibration/Runs/
!Calibration/Runs/*.py

# Data directories
profiles/
!profiles/*.py
!profiles/profile_converter.py
